<hr/>
<div class="content">
    <h3 align="center">Hey!! User want to Login or Register</h3>
    
     
        <div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
         <h4 style="color: aliceblue;">User Login</h4>
         <br>
         <br>

         
         <form [formGroup]="UserLogRef" (ngSubmit)="userLogin()">
            <div class="form-group">
        <label style="color: aliceblue;">Email: </label>
        <input type="email" class="form-control" formControlName="useremail" /><br/>
        <div *ngIf="UserLogRef.controls['useremail'].invalid && 
        (UserLogRef.controls['useremail'].dirty || UserLogRef.controls['useremail'].touched)">
            <span [hidden]="!UserLogRef.controls['useremail'].errors?.['required']" style="color:rgb(145, 255, 0)">
                    Emali ID is Required 
            </span>
            <span [hidden]="!UserLogRef.controls['useremail'].errors?.['pattern']" style="color:rgb(187, 255, 0)">
               It must be match with pattern (alphabets + numbers + @gmail.com)
            </span>
        </div>
       </div>
       <div class="form-group">
        <label style="color: aliceblue;">Password: </label>
        <input  type="password" class="form-control" formControlName="password" /><br/>
        <div *ngIf="UserLogRef.controls['password'].invalid && 
        (UserLogRef.controls['password'].dirty || UserLogRef.controls['password'].touched)">
            <span [hidden]="!UserLogRef.controls['password'].errors?.['required']" style="color:rgb(145, 255, 0)">
                    Password is required
            </span>
            <span [hidden]="!UserLogRef.controls['password'].errors?.['minlength']" style="color:rgb(187, 255, 0)">
                Atleast Contains 6 characters
            </span>
        </div>
       </div>
       <div class="form-group">
        <input type="submit" class="btn btn-light" value="Login"  [disabled]="!UserLogRef.valid" /> &nbsp;
       
        <input type="reset" class="btn btn-light"  value="Reset" />
       
       </div>
        </form>

    <br/>
    <span style="color: aliceblue;" > {{LogUser}}</span>
     </div>
        
<hr/>

    <br/>

    <div class="col-md-6 login-form-2">
        <div class="login-logo">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
        </div>
    <h4>User Register</h4>
    <br>
    <br>

    <form [formGroup]="UserRegRef" (ngSubmit)="userRegister()">
        <div class="form-group">
        <label>UserFullName: </label>
        <input type="text" class="form-control" formControlName="userfullname" /><br/>
        <div *ngIf="UserRegRef.controls['userfullname'].invalid && 
    (UserRegRef.controls['userfullname'].dirty || UserRegRef.controls['userfullname'].touched)">
        <span [hidden]="!UserRegRef.controls['userfullname'].errors?.['required']" style="color:rgb(145, 255, 0)">
                UserFullName is Required 
        </span>
        <span [hidden]="!UserRegRef.controls['userfullname'].errors?.['minlength']" style="color:rgb(187, 255, 0)">
           It must contains atleast 6 characters
        </span>
    </div>
        </div>
        <div class="form-group">
        <label>Email: </label>
        <input  type="email" class="form-control" formControlName="useremail" /><br/>
        <div *ngIf="UserRegRef.controls['useremail'].invalid && 
    (UserRegRef.controls['useremail'].dirty || UserRegRef.controls['useremail'].touched)">
        <span [hidden]="!UserRegRef.controls['useremail'].errors?.['required']" style="color:rgb(145, 255, 0)">
                Emali ID is Required 
        </span>
        <span [hidden]="!UserRegRef.controls['useremail'].errors?.['pattern']" style="color:rgb(187, 255, 0)">
           It must be match with pattern (alphabets + numbers + @gmail.com)
        </span>
    </div>
        </div>
        <div class="form-group">
        <label>Password: </label>
        <input type="password" class="form-control" formControlName="password" /><br/>
        <div *ngIf="UserRegRef.controls['password'].invalid && 
    (UserRegRef.controls['password'].dirty || UserRegRef.controls['password'].touched)">
        <span [hidden]="!UserRegRef.controls['password'].errors?.['required']" style="color:rgb(145, 255, 0)">
                Password is Required 
        </span>
        <span [hidden]="!UserRegRef.controls['password'].errors?.['minlength']" style="color:rgb(187, 255, 0)">
           It must contains atleast 6 characters
        </span>
        
    </div>
        </div>
        <div class="form-group">
        <label>Contact: </label>
        <input type="tel" class="form-control" formControlName="contact" /><br/>
        <div *ngIf="UserRegRef.controls['contact'].invalid && 
    (UserRegRef.controls['contact'].dirty || UserRegRef.controls['contact'].touched)">
        <span [hidden]="!UserRegRef.controls['contact'].errors?.['required']" style="color:rgb(145, 255, 0)">
                Contact is Required 
        </span>
        <span [hidden]="!UserRegRef.controls['contact'].errors?.['maxlength']" style="color:rgb(187, 255, 0)">
            It must be 10 numbers only
         </span>
        <span [hidden]="!UserRegRef.controls['contact'].errors?.['minlength']" style="color:rgb(187, 255, 0)">
            It must be 10 numbers only
         </span>
    </div>
        </div>
        <div class="form-group">
        <label>Gender: </label>
        <input type="text" class="form-control" formControlName="gender" /><br/>
        <div *ngIf="UserRegRef.controls['gender'].invalid && 
    (UserRegRef.controls['gender'].dirty || UserRegRef.controls['gender'].touched)">
        <span [hidden]="!UserRegRef.controls['gender'].errors?.['required']" style="color:rgb(145, 255, 0)">
                Gender is Required 
        </span>
    </div>
        </div>
        <div class="form-group">
        <label>Address: </label>
        <input type="text" class="form-control" formControlName="address" /><br/>
        <div *ngIf="UserRegRef.controls['address'].invalid && 
    (UserRegRef.controls['address'].dirty || UserRegRef.controls['address'].touched)">
        <span [hidden]="!UserRegRef.controls['address'].errors?.['required']" style="color:rgb(145, 255, 0)">
                Address is Required 
        </span>
    </div>
        </div>
        <div class="form-group">
        <label>City: </label>
        <input type="text"  class="form-control" formControlName="city" /><br/>
        <div *ngIf="UserRegRef.controls['city'].invalid && 
    (UserRegRef.controls['city'].dirty || UserRegRef.controls['city'].touched)">
        <span [hidden]="!UserRegRef.controls['city'].errors?.['required']" style="color:rgb(145, 255, 0)">
                City is Required 
        </span>
    </div>
        </div>
        <div class="form-group">
        <label>State: </label>
        <input type="text" class="form-control"  formControlName="state" /><br/>
        <div *ngIf="UserRegRef.controls['state'].invalid && 
    (UserRegRef.controls['state'].dirty || UserRegRef.controls['state'].touched)">
        <span [hidden]="!UserRegRef.controls['state'].errors?.['required']" style="color:rgb(145, 255, 0)">
                State is Required 
        </span>
    </div>
        </div>
        <div class="form-group">
        <input type="submit" class="btn btn-dark"  value="Register" [disabled]="!UserRegRef.valid" /> &nbsp;
        
        
        <input type="reset" class="btn btn-dark"  value="Reset" />
        </div>
        </form>

        <br/>
       <span style="color: beige;"> {{RegUser}} </span>
    </div>
        </div>
     </div>
</div>




