<hr/>
<div align="right">
    <input type="button" class="btn btn-primary" value="Go Back" (click)="backtoadminhome()" />
</div>
<h4 align="center">Stock Details</h4> <hr/>
<table class="table" border="2px">
        <tr>
            <th>PId</th>
            <th>PName</th>
            <th>Price</th>
            <th>Stocks Available</th>
       
        </tr>
        <tr *ngFor="let product of products">
            <td>{{product.pid}}</td>
            <td>{{product.pname | uppercase}}</td>
            <td>{{product.price}}</td>
           <td>{{product.stocks}}</td> 
        </tr>
    </table>