<br>
<hr>
<h2 align="center" style="color: salmon;">Your Cart, {{username}}</h2>


<hr>

<div class="row card-deck">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let order of productOrders">
        <div class="card text-center"style="margin-top:20px;margin-bottom:30px">
            <div class="card-header">
                <h4>{{order.product.pname}}</h4>
            </div>
            <div class="card-body" >
                <a href="#"><img class="card-img-top" src={{order.product.pimage}} alt="" style=" height:18rem;"></a>
                <h5 class="card-title">&#8377; {{order.product.price}}</h5>
                <div class="row">
                    <div class="col-4 padding-0" *ngIf="!isProductSelected(order.product)">
                        <input type="number" min="0" class="form-control" [(ngModel)]=order.quantity>
                    </div>
                    <div class="col-4 padding-0" *ngIf="!isProductSelected(order.product)">
                        <button class="btn btn-success" (click)="addToCart(order)"
                                [disabled]="order.quantity <= 0">Add to Cart
                        </button>
                    </div>
                    <div class="col-12" *ngIf="isProductSelected(order.product)">
                        <button class="btn btn-warning btn-block"
                                (click)="removeFromCart(order)">Remove from Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>