<form class="wrap">
    <div >
      <h4 align="center" style="color: brown">Search:
      <input  type="text"   placeholder="Search by name" [(ngModel)]="searchTerm" (input)="search($any($event.target).value)" />
    </h4>
    </div>
  </form>
  <br><hr>

  <div class="card" style="width: 20rem; display:inline-block;margin-left:30px;margin-bottom: 100px;" *ngFor="let prod of productsser | searchFilter: searchTerm; index as i">
    <div style="display:flex; height:18rem;"> 
                   
<img src={{prod.pimage}}  class="card-img-top" alt="..."  />
    </div>
<div class="card-body">
<h6> Product Name:</h6>
<h4 class="card-title">{{prod.pname}} </h4>
<h6>Product Description:</h6>
<h4 class="card-title">{{prod.pdesc}}</h4>
<h6>Product Price:</h6>
<h4 class="card-title">{{prod.price | currency:'&#8377;'}}</h4>


</div>
</div>

<!--   
<div class="card" style="width: 18rem; margin-top:100px;margin-left:20px;display:table;" *ngFor="let product of productsser | searchFilter: searchTerm; index as i">
    <div style="display:flex; height:18rem;">
     <img class="card-img-top" src="{{product.productImage}}" alt="loading...">
   </div>
     <div class="card-body">
       <h4 class="card-title">{{product.productName}}</h4>
       <h6>Description</h6>
       <p class="card-text">{{product.productDescription}}</p>
       <h6>Stocks Available</h6>
       <p class="card-text">{{product.productStockAvailable}}</p>
     
     </div>
   </div>
    -->