<hr/>
<div>
     <hr>
    <h3  align="center" style="color: salmon;" >User Home Page</h3>
    <hr>
    <div align="right"><input type="button"  class="btn btn-danger" value="logout" (click)="userlogout()"/>&nbsp; &nbsp;
    <input type="button"  class="btn btn-success" value="Add to Cart" (click)="addToCart()"/></div>
    <h3 align="center">Welcome User, {{username}}</h3>
    <br><br>
    <app-search></app-search>
    <br/><br/><br/>                       
                        
</div>
