<div>
  <h2 align="center" style="color: blue;">Welcome to ShopForHome </h2>
  <hr/>
  <div style="background-color: pink">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;"  style ="box-shadow: 3px 3px rgb(221, 209, 209); padding : 5px;">
 
    <div style="margin-right: auto; margin-left: 20px;">
      <img src="https://cdn3.vectorstock.com/i/1000x1000/97/47/shopping-cart-icon-vector-21179747.jpg" width="70px" height="60px">&nbsp;
      <a class="navbar-brand" style="margin-right: auto; padding-top: 10px;" routerLink="/home">ShopForHome</a></div>
  
      <hr>
      <h4 [hidden]="!inbound" (click)="inbound = !inbound"> 
        <a style="color:black" routerLink="useractivity">User Login/Register</a> &nbsp; &nbsp;&nbsp;
        <a style="color:black" routerLink="adminactivity">Admin Login/Register</a> 
      </h4> 
  </nav>
</div>
<div *ngIf="flag" class="marquee">
  <marquee behavior="autoscroll" scrollamount="15" direction="left"  class="marque">
    <img src="https://i.pinimg.com/736x/71/e2/28/71e228927350915b667b04b2d387ed19.jpg" width="900" height="500" alt="Natural" />
    <img src="https://i.pinimg.com/originals/65/14/84/651484f5a3898e66b3d31c3ae10e7c8f.jpg"width="900" height="500" alt="Natural" />
    <img src="https://www.brainvire.com/wp/wp-content/uploads/2021/09/CS_Banner_2XL-Homes.png" width="900" height="500" alt="offer" />
    <img src="https://ik.imagekit.io/durian1985/tr:w-768,q-100,f-auto/durian/durian_in/category_image/1120220108122658img.jpg" width="900" height="500" alt="Natural" />
  </marquee>
   <router-outlet></router-outlet>

